{% extends 'base.html.twig' %}

{% block title %}Galerie d'image - Recrutement Home-Viewer{% endblock %}

{% block stylesheets %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
.pull-right
{
  float: right!important;
}
.gallery
{
  display: flex;
  flex-wrap: wrap;
}
.gallery .image, .gallery .upload-box-container
{
  flex-basis: 24%;
  text-align: center;
  margin: 5px 0.5%;
  box-shadow: 1px 5px 10px -2px;
  position: relative;
}
.gallery .image img
{
  max-width: 100%;
  max-height: 80%;
}
.gallery .image p
{
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
}
.upload-box
{
  background-color: #eee;
  padding: 10px;
}
</style>
{% endblock %}

{% block body %}
<div class="card">
  <div class="card-header">
    <div class="pull-right">
      <select class="form-control" id="galleryChoice">
        <option>Galerie principale</option>
        <option>Autre galerie(extra)</option>
      </select>
    </div>
    Galerie d'images - Recrutement Home-Viewer
  </div>
  <div class="card-body">
    <div class="gallery">
      {% for image in images %}
        <div class="image" id="{{image.id}}">
          <img src="{{image.path}}"/>
          <p>{{image.name}}</p>
        </div>
      {% endfor %}
      <div class="upload-box-container">
        <div class="upload-box drop-zone">
        <form id="fileform" method="post" enctype="multipart/form-data">
          <i class="fa fa-cloud-upload fa-5x"></i><br>
          Drag and drop pictures here<br>or<br>
          <label class="btn btn-primary">
            Choose files <input id="file" type="file" name="file" hidden multiple="multiple">
          </label>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dialogName-form" style="display:none;" title="Choisir le titre de l'image">
	<form>
		<fieldset>
			<label for="name">Titre</label>
			<input type="text" name="titre" id="titre" class="text ui-widget-content ui-corner-all">
		</fieldset>
	</form>
</div>

<div id="dialogImg-form" title="Gérer image">
  <input type="hidden" id="img">
</div>

{% endblock %}

{% block javascripts %}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
<script>

  var fd = new FormData();

  $("#file").change(function() {
    fd.append('file', $(this)[0].files[0]);
    dialogName.dialog( "open" ); //On ouvre le pop up
  });

  //Envoie l'image et son titre au controleur

  function sendData(fd) {
    $.ajax({
      url: "{{ path('upload') }}",
      data: fd,
      type:"POST",
      contentType:false,
      processData:false,
      cache:false,
      dataType:"json",
      success:function(data){
        console.log(data);
        var divImage = $("<div class='image'>").attr("id", data["id"]);
        var image = $("<img>").attr("src", data["path"]);
        divImage.append(image);
        divImage.append($("<p>").text($("#titre").val()));
        $(".upload-box-container").before(divImage);
        dialogName.dialog( "close" );
      },
    });
  }

  //On gère le pop up qui demande le nom de l'image

  dialogName = $( "#dialogName-form" ).dialog({
    autoOpen: false,
    height: 200,
    width: 350,
    modal: true,
    buttons: {
      "Envoyer l'image": 
      function() {
        fd.append('titre', $("#titre").val());
        sendData(fd);
      },
      "Annuler": function() {
        dialogName.dialog( "close" );
      }
    },
    close: function() {
      $("#titre").val("");
    }
  });

  form = dialogName.find( "form" ).on( "submit", function( event ) {
    event.preventDefault();
    fd.append('titre', $("#titre").val());
    sendData(fd);
  });

  //On gère les pop up pour afficher/supprimer une image

  dialogImg = $( "#dialogImg-form" ).dialog({
    autoOpen: false,
    height: 100,
    width: 400,
    modal: true,
    buttons: {
      "Afficher l'image": function() {
        var image = $("#"+$("#img").val());
        //console.log(image.find("img").attr("src"));
        window.location = image.find("img").attr("src");
      },
      "Supprimer l'image": function() {
        sendDeleteRequest($("#img").val());
        dialogImg.dialog( "close" );
      },
      "Annuler": function() {
        dialogImg.dialog( "close" );
      }
    },
    close: function() {
    }
  });

  $(document).on("click",".image", function(){
    $("#img").val($(this).attr("id"));
    dialogImg.dialog( "open" ); //On ouvre le pop up
  })

  form = dialogImg.find( "form" ).on( "submit", function( event ) {
    event.preventDefault();
    fd.append('titre', $("#titre").val());
    sendData(fd);
  });

  //On empêche la page de nous rediriger vers l'image lors du drop

  $("html").on("dragover", function(e) {
    e.preventDefault();
    e.stopPropagation();
    $("h1").text("Drag here");
  });

  //Evenement qui gère le drag and drop

  $('.upload-box-container').on('drop', function (e) {
    e.stopPropagation();
    e.preventDefault();
    var file = e.originalEvent.dataTransfer.files;
    fd.append('file', file[0]);
    dialogName.dialog( "open" ); //On ouvre le pop up
  });

  //Fonction qui supprime une image
  function sendDeleteRequest(id) {
    $.ajax({
      type: "POST",
      url: "{{ path('delete') }}",
      data : {"id":id},
      success: function(data){
        console.log(data);
        $("#"+data["id"]).remove();
      },
      dataType: "json",
    });
  }
</script>
{% endblock %}
